@font-face {
    font-family: 'ff-basic-gothic-pro';
    src: url('5574dba92474ccfe5f79a5864cc8e6fab930f0bb2de5020a19f84739716f5b1.eot');
    src: url('5574dba92474ccfe5f79a5864cc8e6fab930f0bb2de5020a19f84739716f5b1.eot?#iefix') format('embedded-opentype'),
        url('5574dba92474ccfe5f79a5864cc8e6fab930f0bb2de5020a19f84739716f5b1.woff2') format('woff2'),
        url('5574dba92474ccfe5f79a5864cc8e6fab930f0bb2de5020a19f84739716f5b1.woff') format('woff'),
        url('5574dba92474ccfe5f79a5864cc8e6fab930f0bb2de5020a19f84739716f5b1.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'ff-basic-gothic-pro';
    src: url('c305aaa564ddcf68ff60ff1b680d85125ea7c9e82d986309fb325fbb7838c10.eot');
    src: url('c305aaa564ddcf68ff60ff1b680d85125ea7c9e82d986309fb325fbb7838c10.eot?#iefix') format('embedded-opentype'),
        url('c305aaa564ddcf68ff60ff1b680d85125ea7c9e82d986309fb325fbb7838c10.woff2') format('woff2'),
        url('c305aaa564ddcf68ff60ff1b680d85125ea7c9e82d986309fb325fbb7838c10.woff') format('woff'),
        url('c305aaa564ddcf68ff60ff1b680d85125ea7c9e82d986309fb325fbb7838c10.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'ff-basic-gothic-pro';
    src: url('4407074e9af29395f06633617cca7e9416cea4373dcc33755099ff12d6614db.eot');
    src: url('4407074e9af29395f06633617cca7e9416cea4373dcc33755099ff12d6614db.eot?#iefix') format('embedded-opentype'),
        url('4407074e9af29395f06633617cca7e9416cea4373dcc33755099ff12d6614db.woff2') format('woff2'),
        url('4407074e9af29395f06633617cca7e9416cea4373dcc33755099ff12d6614db.woff') format('woff'),
        url('4407074e9af29395f06633617cca7e9416cea4373dcc33755099ff12d6614db.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'ff-basic-gothic-pro';
    src: url('f08ab269058dde0c8c5065b2e9ba5d719cb8bf6aa90305ce6977c997774962c.eot');
    src: url('f08ab269058dde0c8c5065b2e9ba5d719cb8bf6aa90305ce6977c997774962c.eot?#iefix') format('embedded-opentype'),
        url('f08ab269058dde0c8c5065b2e9ba5d719cb8bf6aa90305ce6977c997774962c.woff2') format('woff2'),
        url('f08ab269058dde0c8c5065b2e9ba5d719cb8bf6aa90305ce6977c997774962c.woff') format('woff'),
        url('f08ab269058dde0c8c5065b2e9ba5d719cb8bf6aa90305ce6977c997774962c.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ff-basic-gothic-pro';
    src: url('b6613353b10cb9bb90ae2a4c87b9c621390b220879012a3c90dfc17ecbeab40.eot');
    src: url('b6613353b10cb9bb90ae2a4c87b9c621390b220879012a3c90dfc17ecbeab40.eot?#iefix') format('embedded-opentype'),
        url('b6613353b10cb9bb90ae2a4c87b9c621390b220879012a3c90dfc17ecbeab40.woff2') format('woff2'),
        url('b6613353b10cb9bb90ae2a4c87b9c621390b220879012a3c90dfc17ecbeab40.woff') format('woff'),
        url('b6613353b10cb9bb90ae2a4c87b9c621390b220879012a3c90dfc17ecbeab40.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ff-basic-gothic-pro';
    src: url('61b5f470684893eb0129ed89f1dc8f5a8b4e8cbb69ff7b9cf47149ef18637df.eot');
    src: url('61b5f470684893eb0129ed89f1dc8f5a8b4e8cbb69ff7b9cf47149ef18637df.eot?#iefix') format('embedded-opentype'),
        url('61b5f470684893eb0129ed89f1dc8f5a8b4e8cbb69ff7b9cf47149ef18637df.woff2') format('woff2'),
        url('61b5f470684893eb0129ed89f1dc8f5a8b4e8cbb69ff7b9cf47149ef18637df.woff') format('woff'),
        url('61b5f470684893eb0129ed89f1dc8f5a8b4e8cbb69ff7b9cf47149ef18637df.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ff-basic-gothic-pro';
    src: url('94a8ecc33f1b7f3a7e866730e24c7750cc3607a220907fb39cb13e42119e59e.eot');
    src: url('94a8ecc33f1b7f3a7e866730e24c7750cc3607a220907fb39cb13e42119e59e.eot?#iefix') format('embedded-opentype'),
        url('94a8ecc33f1b7f3a7e866730e24c7750cc3607a220907fb39cb13e42119e59e.woff2') format('woff2'),
        url('94a8ecc33f1b7f3a7e866730e24c7750cc3607a220907fb39cb13e42119e59e.woff') format('woff'),
        url('94a8ecc33f1b7f3a7e866730e24c7750cc3607a220907fb39cb13e42119e59e.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

