
@font-face {
  font-family: "BrushUpTooW01-Regular";
  src: url("/fonts/fc35b6a7243e8672fb59340563fc0fbd.eot");
  src: url("/fonts/fc35b6a7243e8672fb59340563fc0fbd.eot?#iefix") format("embedded-opentype"),
  url("/fonts/fc35b6a7243e8672fb59340563fc0fbd.woff") format("woff"),
  url("/fonts/fc35b6a7243e8672fb59340563fc0fbd.ttf") format("truetype"),
  url("/fonts/fc35b6a7243e8672fb59340563fc0fbd.svg#BrushUpTooW01-Regular") format("svg");
}
